<footer class="footer">
 <div style="display:flex; justify-content: space-between;">
  <div>Copyright {{year}} Ali Ustek.</div>
  <div>This site is built with <a href="https://antora.org/">Antora</a>.</div>
 </div>
</footer>
